{% extends "Home.html" %}

{% block content %}
    <h2 style="color:black">Storage Unit Listing</h2>
    
<div class="text-center"><a href="/StorageUnitOperation?operation=Create" class="btn btn-outline-info btn-sm ">Create</a></div>
    <table class="table table-bordered table-striped">
  <thead>
    <tr>
      
      <th scope="col">Storage Unit Name</th>
      <th scope="col">Contact Person</th>
      <th scope="col">Contact Person Mobile</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
    {% for row in records %}
        <tr>
            <td>{{ row.storageUnitName }}</td>
            <td>{{ row.contactPersonName }}</td>
                
            <td>{{ row.contactPersonNumber }}</td>
            
            
        <td>
            <a href="/StorageUnitOperation?operation=Edit&unqid={{row.storageUnitID}}" class="btn btn-outline-warning btn-sm ">Edit</a>
            <a href="/StorageUnitOperation?operation=Delete&unqid={{row.storageUnitID}}" class="btn btn-outline-warning btn-sm ">Delete</a>
        </td>
        </tr>
    {% endfor %}
   </tbody>
</table>
<div class="text-center"><a href="/StorageUnitOperation?operation=Create" class="btn btn-outline-info btn-sm ">Create</a></div>
{% endblock %}




